In [1]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

driver = webdriver.Chrome()

In [2]:
driver.get('http://localhost:8000')

In [3]:
data = pd.read_json('desafio_1_dados.json')
data

                         email       senha data-de-nascimento  newsletter
0         lda-mota@example.net  *V03BSlEA*         1983-08-27       False
1          sda-luz@example.org  Qa8_2C0o5_         2003-07-16        True
2        daniela00@example.com  zZz4@J3ec@         1971-08-24        True
3  nogueiralorenzo@example.com  %8h&@B6IgJ         1996-08-14        True
4         gcardoso@example.net  OAHsP2Eu_h         1990-04-20        True
5    lorenzoaragao@example.org  240iCRzfO_         1998-12-10        True
6          sofia65@example.org  !ytSm4@x0w         1971-06-01        True
7           joao08@example.com  J4d5A5nD)A         1954-10-27       False
8          wduarte@example.org  $V0TkvNYzd         1979-05-02       False
9    mariada-rocha@example.com  %0t$9CKq3P         2003-09-10        True

In [4]:
type(data['data-de-nascimento'][0])

str

In [5]:
data['data-de-nascimento'] = pd.to_datetime(data['data-de-nascimento'])
type(data['data-de-nascimento'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
email = driver.find_element(By.NAME, 'email')
senha = driver.find_element(By.NAME, 'senha')
select_ano = Select(driver.find_element(By.NAME, 'ano'))
select_mes = Select(driver.find_element(By.NAME, 'mes'))
select_dia = Select(driver.find_element(By.NAME, 'dia'))

for i in (range(len(data))):
    email_data = data['email'][i]
    senha_data = data['senha'][i]
    ano = data['data-de-nascimento'][i].year
    mes = data['data-de-nascimento'][i].month
    dia = data['data-de-nascimento'][i].day

    email.send_keys(email_data)
    senha.send_keys(senha_data)
    select_dia.select_by_visible_text(str(dia))
    select_mes.select_by_visible_text(str(mes))
    select_ano.select_by_visible_text(str(ano))

    botao_check = driver.find_element(By.ID, 'airplane-mode')
    switch_on = True if botao_check.get_attribute('aria-checked') == 'true' else False
    if switch_on != data['newsletter'][i]:
        botao_check.click()
    
    #if data['newsletter'][i] == True:
    #    botao_check.click()

    email.submit()

    email.clear()
    senha.clear()
    select_ano.select_by_index(0)
    select_mes.select_by_index(0)
    select_dia.select_by_index(0)
    botao_check.click()
    time.sleep(1)